DATABASE_URL=
SECRET_KEY=
ALGORITHM=HS256
BACKEND_URL=https://128.0.0.1:8000/ # only for development, may change for production
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_ENTERPRISE_PRICE_ID=